<div class="row text-center d-flex justify-content-center align-items-center m-0 pt-5 pb-5">
    <div class="col-2 d-flex justify-content-center align-items-center"><img
            src="/assets/img/Group0913.svg?h=af414971b139d8a6699d3c593b552ed5" [routerLink]="['/profile']"
            routerLinkActive="router-link-active"></div>
    <div class="col">
        <h2>Insurance</h2>
    </div>
    <div class="col-2 text-center"></div>
</div>
<div class="row pb-5 pt-5 p-3 bg-white">
    <div *ngIf="errors && errors.length > 0" class="alert alert-danger">
        <p *ngFor="let error of errors">
            - {{ error }}
        </p>
    </div>
    <div class="col-12 pt-3">
        <label class="form-label text-muted" for="VIN">VIN</label>
        <input class="shadow-none form-control-sm" type="text" style="width: 100%;" name="VIN" placeholder="0000000000"
            [(ngModel)]="insuranceVin">
    </div>
    <div class="col-12 pt-3">
        <label class="form-label text-muted" for="Effective Since">Effective Since</label>
        <input [(ngModel)]="insuranceEffectiveSince" theme="dp-material" style="width: 100%;"
            class="shadow-none form-control-sm" [dpDayPicker]="datePickerConfig">

    </div>

    <div class="col-12 pt-3">
        <label class="form-label text-muted" for="Effective Until">Effective Until</label>
        <input [(ngModel)]="insuranceEffectiveUntil" theme="dp-material" style="width: 100%;"
            class="shadow-none form-control-sm" [dpDayPicker]="datePickerConfig">
    </div>
    <div class="col-12 pt-3">
        <label class="form-label text-muted" for="Insured">Insured</label>
        <span class="d-inline-flex p-2 mr-3"> <span class="radio-label d-inline-block">Yes</span> <input name="options"
                ng-control="options" type="radio" value="yes" [(ngModel)]="issured" [checked]="issured == 'yes'">
        </span>

        <span class="d-inline-flex p-2"> <span class="radio-label d-inline-block">No</span> <input name="options"
                ng-control="options" type="radio" value="no" [(ngModel)]="issured" [checked]="issured == 'no'"></span>
    </div>
    <div class="col-12 pt-3">
        <button (click)="submit()" class="btn btn-primary p-2 mt-5 bg-primary text-dark b-radius-sm w-100"
            type="button">
            <strong *ngIf="!isSubmit">Save</strong>
            <img *ngIf="isSubmit" src="assets/img/loader.gif" class="loader" />
        </button>
    </div>

</div>