<div class="row d-flex justify-content-center align-items-center pt-5 pb-5 dashboard-footer">
    <div class="col d-flex justify-content-center"><img src="assets/img/Group%20130.svg" [routerLink]="['/dashboard']"
            routerLinkActive="router-link-active"></div>
    <div class="col d-flex justify-content-center"><img src="assets/img/Group%20189.svg" [routerLink]="['/messages']"
            routerLinkActive="router-link-active"></div>
    <div class="col d-flex justify-content-center"><img src="assets/img/Mask2399group.svg" [routerLink]="['/profile']"
            routerLinkActive="router-link-active"></div>
</div>