<div class="row text-center d-flex justify-content-center align-items-center m-0 pt-5 pb-5">
    <div class="col-2 d-flex justify-content-center align-items-center"><img [routerLink]="['/settings']"
            routerLinkActive="router-link-active" src="/assets/img/Group0913.svg?h=af414971b139d8a6699d3c593b552ed5">
    </div>
    <div class="col">
        <h2>Contact Us</h2>
    </div>
    <div class="col-2 text-center"></div>
</div>
<div class="row pb-5 pt-5 p-3" style="text-align: left;">
    <div class="col-12">
        <p style="text-align: left;">Leave us with any comments, concerns, or suggestions and we will get back to you as
            soon as possible!</p>
    </div>
    <div class="col">
        <p class="pt-4 m-0 pb-1">Name</p><input type="text" class="w-100"
            style="border: 0; border-bottom: 1px solid gray;" placeholder="First &amp; Last">
        <p class="pt-4 m-0 pb-1">Subject</p><input type="text" class="w-100"
            style="border: 0; border-bottom: 1px solid gray;" placeholder="Enter Subject">
        <p class="pt-4 m-0 pb-1">Message</p><textarea class="w-100" style="border: 0; border-bottom: 1px solid gray;"
            placeholder="Please be as detailed as possible"></textarea><button
            class="btn btn-primary p-2 mt-5 bg-primary text-dark b-radius-sm w-100"
            type="button"><strong>Save</strong></button>
    </div>
</div>
<div class="row mt-4 mb-5">
    <div class="col">
        <p style="font-weight: bold;"><strong>Connect with us!</strong></p><img
            src="/assets/img/Group%20120.svg?h=fbe75824e081c5b95659c3d7023822a4">
    </div>
</div>