<div class="row text-center d-flex justify-content-center align-items-center m-0 pt-5 pb-5">
    <div class="col-2 d-flex justify-content-center align-items-center"><img [routerLink]="['/settings']"
            routerLinkActive="router-link-active" src="/assets/img/Group0913.svg?h=af414971b139d8a6699d3c593b552ed5">
    </div>
    <div class="col">
        <h2>Password</h2>
    </div>
    <div class="col-2 text-center"></div>
</div>
<div *ngIf="errors && errors.length > 0" class="alert alert-danger">
    <p *ngFor="let error of errors">
        - {{ error }}
    </p>
</div>
<div class="row pb-5 pt-5 p-3">
    <div class="col">
        <p class="pt-4 m-0 pb-1">Enter current password</p><input type="password" [(ngModel)]="password" class="w-100"
            style="border: 0; border-bottom: 1px solid gray;" placeholder="●●●●●●●●●●">
        <p class="pt-4 m-0 pb-1">Enter new password</p><input type="password" [(ngModel)]="newPassword" class="w-100"
            style="border: 0; border-bottom: 1px solid gray;" placeholder="●●●●●●●●●●">
        <p class="pt-4 m-0 pb-1">Confirm new password</p><input type="password" [(ngModel)]="confirm" class="w-100"
            style="border: 0; border-bottom: 1px solid gray;" placeholder="●●●●●●●●●●">
        <button class="btn btn-primary p-2 mt-5 bg-primary text-dark b-radius-sm w-100" type="button"
            (click)="submit()">
            <strong *ngIf="!isSubmit">Save</strong>
            <img *ngIf="isSubmit" src="assets/img/loader.gif" class="loader" />
        </button>
    </div>
</div>