<div class="row text-center d-flex justify-content-center align-items-center m-0">
    <div class="col d-flex justify-content-center align-items-center">
        <img (click)="showSideBar = !showSideBar" src="assets/img/Group%20155.svg" width="45px">
    </div>
    <div class="col"><img src="assets/img/Mask%20group-logo.svg"></div>
    <div class="col text-center"><img class="rounded-circle mt-4" *ngIf="user && user.photo" [src]="user.photo"
            width="50px" height="50px" style="object-fit: cover;">
        <p class="text-primary"><i class="fa fa-star" style="color: #FFCC2F;"></i>4.7</p>
    </div>
</div>
<div *ngIf="locationError" class="alert alert-danger">
    {{ locationError }}
</div>
<div class="row">
    <div class="col">
        <h1 class="text-center pt-3 pb-3" *ngIf="user.type == 'customer'">Send &amp; Receive</h1>
        <h1 class="text-center pt-3 pb-3" *ngIf="user.type == 'driver'">Deliver</h1>
    </div>
</div>
<div class="row" *ngIf="user.type == 'customer'">
    <div class=" col-6 d-flex justify-content-center align-items-center p-3" [routerLink]="['/send']"
        routerLinkActive="router-link-active">
        <div class="container text-center d-flex justify-content-center align-items-center square ripple b-radius">
            <div class="col-12"><img src="assets/img/76x54.png">
                <p class="text-center">Send Item</p>
            </div>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center p-3" [routerLink]="['/incoming']"
        routerLinkActive="router-link-active">
        <div class="container text-center d-flex justify-content-center align-items-center b-radius ripple square">
            <div class="col"><img src="assets/img/Group%2051g.svg">
                <p>Incoming Items</p>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="user.type == 'customer'">
    <div class=" col-6 d-flex justify-content-center align-items-center p-3" [routerLink]="['/history']"
        routerLinkActive="router-link-active">
        <div class="container text-center d-flex justify-content-center align-items-center b-radius ripple square">
            <div class="col"><img src="assets/img/Group%2061g.svg">
                <p>History</p>
            </div>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center p-3" [routerLink]="['/settings']"
        routerLinkActive="router-link-active">
        <div class="container text-center d-flex justify-content-center align-items-center b-radius ripple square">
            <div class="col"><img src="assets/img/Vectorg1g.svg">
                <p>Settings</p>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="user.type == 'driver'">
    <div class=" col-6 d-flex justify-content-center align-items-center p-3" [routerLink]="['/deliveries']"
        routerLinkActive="router-link-active">
        <div class="container text-center d-flex justify-content-center align-items-center b-radius ripple square">
            <div class="col"><img src="assets/img/deliveries.svg">
                <p>Deliveries</p>
            </div>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center p-3" [routerLink]="['/settings']"
        routerLinkActive="router-link-active">
        <div class="container text-center d-flex justify-content-center align-items-center b-radius ripple square">
            <div class="col"><img src="assets/img/Vectorg1g.svg">
                <p>Settings</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="user.type == 'customer'">
    <div class="row" *ngIf="items && items.length > 0">
        <div class="col">
            <h2 class="pt-4 pb-2">Active Orders</h2>
        </div>
    </div>
    <div *ngFor="let item of items" class="row p-1 b-radius pb-4"
        style="box-shadow: 3px 7px 22px 4px rgba(196,196,196,0.30); width: 96vw; margin: 1.5rem auto;">
        <div class="col-4 d-flex align-items-center"><img class="rounded-circle" [src]="item.photo" width="95px"
                height="95px" style="object-fit: cover;"></div>
        <div class="col">
            <h5 class="pt-3">{{ item.description }}</h5>
            <section>
                <div class="row">
                    <div class="col-6 p-0">
                        <p class="text-muted m-0">Status:</p>
                        <p class="text-muted">Drop Off:</p>
                        <p class="text-muted m-0">Est. Arrival:</p>
                    </div>
                    <div class="col-6">
                        <p class="text-primary m-0 text-uppercase"><strong>{{ item.mode }}</strong></p>
                        <p class="text-primary"><strong>{{ item.receiverName }}</strong><br></p>
                        <p class="m-0 text-white bg-primary p-1 b-radius-sm d-inline-block"><strong> {{
                                functions.formatDate(item.createdAt)}}</strong><br></p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div *ngIf="user.type == 'driver'">
    <div class="row" *ngIf="items && items.length > 0">
        <div class="col">
            <h2 class="pt-4 pb-2">Nearby Orders</h2>
            <p>Click an order you want to deliver</p>
        </div>
    </div>
    <div *ngFor="let item of items" (click)="deliver(item._id)" class="row p-1 b-radius pb-4"
        style="box-shadow: 3px 7px 22px 4px rgba(196,196,196,0.30); width: 96vw; margin: 1.5rem auto;">
        <div class="col-4 d-flex align-items-center"><img class="rounded-circle" [src]="item.photo" width="95px"
                height="95px" style="object-fit: cover;"></div>
        <div class="col">
            <h5 class="pt-3">{{ item.description }}</h5>
            <section>
                <div class="row">
                    <div class="col-6 p-0">
                        <p class="text-muted m-0">Status:</p>
                        <p class="text-muted">Drop Off:</p>
                        <p class="text-muted m-0">Est. Arrival:</p>
                    </div>
                    <div class="col-6">
                        <p class="text-primary m-0 text-uppercase"><strong>{{ item.mode }}</strong></p>
                        <p class="text-primary"><strong>{{ item.receiverName }}</strong><br></p>
                        <p class="m-0 text-white bg-primary p-1 b-radius-sm d-inline-block"><strong>{{
                                functions.formatDate(item.createdAt)}}</strong><br></p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="dashboard-main"></div>
<app-footer></app-footer>
<app-sidebar [show]="showSideBar" (hasProfileSwitched)="onHasProfileSwitched($event)"></app-sidebar>
<app-get-started [show]="showGetStarted" (start)="onGetStarted($event)"></app-get-started>